body {
  flex: 1;
  overflow-y: auto;
  background-color: black;
  color: grey;
  padding-top: 100px;
  margin-inline-end: auto;
  font-family: Verdana, sans-serif;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profile {
  padding: 20px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-me-text {
  overflow: hidden;
  white-space: inherit;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.profile-container,
.about-me-container,
.work-exp-container,
.ed-container,
.projects-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  margin-bottom: 20px;
}
.brief-label {
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
  word-wrap: break-word;
}

.about-me-label,
.work-exp-label,
.projects-label,
.ed-exp-label,
.links-label {
  font-size: 18px;
  margin-left: 0px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 2.5rem;
  word-wrap: break-word;
}

.brief-text {
  text-align: center;
  color: #a3a399;
  border-color: #e2e8f0;
  word-wrap: break-word;
}

.key-text {
  color: white;
  opacity: 0.5;
  font-weight: 400;
  word-wrap: break-word;
}

.value-header-text {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  word-wrap: break-word;
}

.value-text {
  color: #a3a399;
  word-wrap: break-word;
}

.tools-text,
.inline-text {
  word-wrap: break-word;
  color: white;
  opacity: 0.5;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1920px;
  margin-bottom: 1.5rem;
}

.project-img {
  object-fit: contain;
  border-radius: 25%;
}

.role-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.75;
  word-wrap: break-word;
}

.link-desc {
  display: flex;
  align-items: center;
}

.inline-link {
  text-decoration: none;
}

.additions-link {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.additions-link:hover,
.inline-link:hover {
  text-decoration: underline;
}

.navbar {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
  color: grey;
}
