<!-- This site will house my personal projects, repositories I have contributed to, and ways to contact me -->
<!-- This will look similar to https://bonhomme.lol/-->
<!-- When listing things in work-exp, projects, and links make sure to use a key-value data object, like a dictionary or JSON object -->
 <div class="body">
  <div class="header">
    <img src="headshot.png" alt="Marcus Shaffer Headshot" class="headshot">
    <p class="brief" >List stuff from linked in header</p>
  </div>
  <div class="about-me">
    <p class="about-me-text">This will be a brief section about me</p>
  </div>

  <div class="work-exp">
    <ul class="work-exp-list">
      <li class="work-exp-list-element">This will feature a list of work experiences</li>
    </ul>
  </div>

  <div class="projects">
    <ul class="projects-list">
      <li class="projects-list-element">This will feature a list of work experiences</li>
    </ul>
  </div>

  <div class="links">
    <ul class="links-list">
      <li class="links-list-element"> This is the links/ ways to contact me section</li>
    </ul>

  </div>
 </div>
