<!-- This site will house my personal projects, repositories I have contributed to, and ways to contact me -->
<!-- This will look similar to https://bonhomme.lol/-->
<!-- When listing things in work-exp, projects, and links make sure to use a key-value data object, like a dictionary or JSON object -->
 <div class="body">
  <div class="header">
    <div class="image-container">
      <img src="headshot.png" alt="Marcus Shaffer Headshot" class="headshot">
      <div class="brief-container">
      <h3 class="brief-label">Marcus Shaffer</h3>
      <h5 class="brief-text">Student at Anderson University| Eagle Scout | Github: shama2025</h5>
    </div>
    </div>
  </div>
  <div class="about-me">
    <div class="about-me-contaienr">
    <h2 class="about-me-label">About</h2>
    <p class="about-me-text">This will be a brief section about me</p>
  </div>
  </div>

  <!-- <div class="work-exp">
    <label class="work-exp-label">Work experience</label>
    <ul class="work-exp-list">
      <li class="work-exp-list-element">This will feature a list of work experiences</li>
    </ul>
  </div>

  <div class="projects">
    <label class="projects-label">Projects</label>
    <ul class="projects-list">
      <li class="projects-list-element">This will feature a list of work experiences</li>
    </ul>
  </div>

  <div class="links">
    <label class="links-label"></label>
    <ul class="links-list">
      <li class="links-list-element"> This is the links/ ways to contact me section</li>
    </ul>
  </div> -->
 </div>
