.body {
  flex: 1;
  overflow-y: auto;
  background-color: black;
  color: grey;
  padding-top: 100px;
}

.header {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headshot {
  height: auto;
  width: 100px; /* Adjust this value as needed*/
  object-fit: cover;
  border-radius: 50%; /*Make it circular*/
}

.image-container,
.about-me-container,
.work-exp-container,
.projects-container,
.links-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add some space between containers */
  gap: 10px;
  margin-bottom: 20px;
}

.brief-label,
.about-me-label,
.work-exp-label,
.projects-label,
.links-label {
  font-size: 18px;
  margin-left: 0px;
  text-align: left;
  color: #ffffff;
}

.about-me-text, .brief-text{
  text-align: center;
  color: #a3a399;
  border-color: #e2e8f0;
}

.key-text{
  color: white;
  opacity: 0.5;

}

.value-header-text{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.value-text{
  color: #a3a399;
}

.tools-text{
  color: white;
  opacity: 0.5;
}

.dates-column, .link-name-colum{

}

.info-column, .link-column{

}