<div class="body">

    <div class="header">
      <div class="image-container">
        <img src="headshot.png" alt="Marcus Shaffer Headshot" class="headshot">
        <div >
        <h3 class="brief-label">Marcus Shaffer</h3>
        <h5 class="brief-text">Student at Anderson University| Eagle Scout | Github: shama2025</h5>
      </div>
      </div>
    </div>

    <div class="header">
      <div class="about-me-container">
        <div>
        <h3 class="about-me-label">About Me</h3>
        <h5 class="about-me-text">Student at Anderson University| Eagle Scout | Github: shama2025</h5>
      </div>
      </div>
    </div>

    <div class="header">
      <div class="work-exp-container">
        <div>
        <h3 class="work-exp-label">Marcus Shaffer</h3>
        <h5 class="work-exp-text">Student at Anderson University| Eagle Scout | Github: shama2025</h5>
        <ul class="work-exp-list"><li class = "work-exp-element" *ngFor=""></li></ul>
      </div>
      </div>
    </div>

    <div class="header">
      <div class="projects-container">
        <div >
        <h3 class="projects-label">Marcus Shaffer</h3>
        <h5 class="projects-text">Student at Anderson University| Eagle Scout | Github: shama2025</h5>
        <ul class="projects-list"><li class = "project-element" *ngFor=""></li></ul>
      </div>
      </div>
    </div>

    <div class="header">
      <div class="links-container">
        <div >
        <h3 class="links-label">Marcus Shaffer</h3>
        <h5 class="links-text">Student at Anderson University| Eagle Scout | Github: shama2025</h5>
        <ul class="links-list"><li class = "links-element" *ngFor=""></li></ul>
      </div>
      </div>
    </div>
  </div>
