.body {
  flex: 1;
  overflow-y: auto;
  background-color: black;
  color: grey;
  padding-top: 100px;
}

.header {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headshot {
  height: auto;
  width: 100px; /* Adjust this value as needed*/
  object-fit: cover;
  border-radius: 50%; /*Make it circular*/
}

ul {
  list-style: none;
}

.image-container,
.about-me-container,
.work-exp-container,
.projects-container,
.links-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add some space between containers */
  gap: 10px;
  margin-bottom: 20px;
}

.brief-label,
.about-me-label,
.work-exp-label,
.projects-label,
.links-label {
  font-size: 18px;
  margin-left: 0px;
  text-align: left;
  color: #ffffff;
}

.brief-text,
.about-me-text,
.work-exp-text,
.projects-text,
.links-text {
  text-align: center;
  color: #a3a399;
}
