<div class="body">
  <div class="container">
    <div class="profile">
      <div class="image-container">
        <img
          src="headshot.png"
          alt="Marcus Shaffer Headshot"
          class="headshot"
        />
        <div>
          <h3 class="brief-label">Marcus Shaffer</h3>
          <p class="brief-text">
            Student at Anderson University| Eagle Scout | Github: shama2025
          </p>
        </div>
      </div>
    </div>

    <div class="about-me">
      <div class="about-me-container">
        <div>
          <h3 class="about-me-label">About Me</h3>
          <p class="about-me-text">
            Student at Anderson University| Eagle Scout | Github:
            shama2025Student at Anderson University| Eagle Scout | Github:
            shama2025Student at Anderson University| Eagle Scout | Github:
            shama2025Student at Anderson University| Eagle Scout | Github:
            shama2025
          </p>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="work-exp-container">
        <div>
          <h3 class="work-exp-label">Work Experience</h3>
          <div class="info-grid">
            <p class="key-text">2023 - 2024</p>
            <div class="work-exp-desc">
              <p class="value-header-text">Position Name</p>
              <p class="value-text">Description of position</p>
              <p class="tools-text">This is the section of tools used</p>
            </div>
          </div>
          <div class="info-grid">
            <p class="key-text">2023 - 2024</p>
            <div class="work-exp-desc">
              <p class="value-header-text">Position Name</p>
              <p class="value-text">Description of position</p>
              <p class="tools-text">This is the section of tools used</p>
            </div>
          </div>
          <div class="info-grid">
            <p class="key-text">2023 - 2024</p>
            <div class="work-exp-desc">
              <p class="value-header-text">Position Name</p>
              <p class="value-text">Description of position</p>
              <p class="tools-text">This is the section of tools used</p>
            </div>
          </div>
        </div>
      </div>

      <div class="projects-container">
        <div>
          <h3 class="projects-label">Side Projects</h3>
          <div class="info-grid">
            <p class="key-text">2023 - 2024</p>
            <div class="projects-desc">
              <a class="value-header-text" href="#"
                >Name of project/link to github or netilfy site</a
              >

              <p class="value-text">Name of side project</p>
              <p class="tools-text">This is the section for tools used</p>
            </div>
          </div>
          <div class="info-grid">
            <p class="key-text">2023 - 2024</p>
            <div class="projects-desc">
              <a class="value-header-text" href="#"
                >Name of project/link to github or netilfy site</a
              >

              <p class="value-text">Name of side project</p>
              <p class="tools-text">This is the section for tools used</p>
            </div>
          </div>
          <div class="info-grid">
            <p class="key-text">2023 - 2024</p>
            <div class="projects-desc">
              <a class="value-header-text" href="#"
                >Name of project/link to github or netilfy site</a
              >
              <p class="value-text">Name of side project</p>
              <p class="tools-text">This is the section for tools used</p>
            </div>
          </div>
        </div>
      </div>

      <div class="links-container">
        <div>
          <h3 class="links-label">Links</h3>
          <div class="info-grid">
            <p class="key-text">name of link</p>
            <div class="link-desc">
              <a class="value-header-text" href="#">Link destination</a>
            </div>
          </div>
          <div class="info-grid">
            <p class="key-text">name of link</p>
            <div class="link-desc">
              <a class="value-header-text" href="#">Link destination</a>
            </div>
          </div>
          <div class="info-grid">
            <p class="key-text">name of link</p>
            <div class="link-desc">
              <a class="value-header-text" href="#">Link destination</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
