.body {
  flex: 1;
  overflow-y: auto;
  background-color: black;
  color: grey;
  padding-top: 100px;
  margin-inline-end: auto;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 20px;
}

.profile {
  padding: 20px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headshot {
  height: auto;
  width: 100px; /* Adjust this value as needed*/
  object-fit: cover;
  border-radius: 50%; /*Make it circular*/
}

.about-me-text {
  overflow: hidden;
  white-space: inherit;
  word-wrap: break-word; /* Ensures text breaks properly */
  overflow-wrap: break-word;
}

.image-container,
.about-me-container,
.work-exp-container,
.projects-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  margin-bottom: 20px;
}
.brief-label {
  font-size: 18px;
  margin-left: 0px;
  text-align: left;
  color: #ffffff;
}

.about-me-label,
.work-exp-label,
.projects-label,
.links-label {
  font-size: 18px;
  margin-left: 0px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 2.5rem;
}

.brief-text {
  text-align: center;
  color: #a3a399;
  border-color: #e2e8f0;
}

.key-text {
  color: white;
  opacity: 0.5;
}

.value-header-text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.value-text {
  color: #a3a399;
  word-break: break-word;
}

.tools-text {
  color: white;
  opacity: 0.5;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1920px;
  margin-bottom: 1.5rem;
}

.project-img {
  max-height: min-content;
  max-width: 50px; /* Adjust this value as needed*/
  min-width: 50px;
  min-height: min-content;
  object-fit: cover;
  border-radius: 25%;
}
